

<ion-content>
  <app-header></app-header>

  <p>
    home works!
  </p>

  @if (article) {
    <h1>Articulo: {{article.title}}</h1>
    <h2>Descripción: {{article.description}}</h2>
    <img [src]="article.image.url" alt="{{article.image.alt}}"/>
    <br><br>
  }

  <button (click)="carrito.subir()">Sumar</button> <br><br>
  <button (click)="carrito.bajar()">Restar</button> <br><br>

  <a href="/contacto">Contacto sin SPA</a>
  <br><br>

  <a [routerLink]="['/contacto']">Contacto con SPA</a>
  <br><br>

  <input type="text" (keydown)="presionar()" (keyup)="soltar()" />

  <app-footer></app-footer>
</ion-content>


